.form__star-image {
  fill: #c7c7c7;
  transition: fill 0.2s ease-in-out;
}

.form__rating-input:checked ~ .form__rating-label .form__star-image {
  fill: #ff9000;
}

.form__rating-label {
  &:hover {
    .form__star-image {
      fill: #ffb400;
    }
  }
}
